@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
This is comment for 
    multiple lines
**@

@{
    var className = Model.Customers.Count > 0 ? "popular" : null;
}
<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
<textarea>No one has rented this movie before</textarea>
}
else{
<ul>
    @foreach (var customer in Model.Customers)
    {
        <li>
            <h4>@customer.Name</h4>
        </li>
    }
</ul>

}

